/* CSS specific to the opening survey */

.survey {
    display: grid;
    grid-template-columns: auto 8em;
    grid-column-gap: 2em;
    grid-row-gap: 0.3em;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.ques {
    text-align: left;
}

.ans {
    display: flex;
    width: 150%;
}