:root {
    --container-background-color: #f1f1f1;
    --container-border-color: #5a5a5a;
    --padding: 4rem;
    --grid-gap: 2rem;
}

#title {
    padding: 0 var(--padding) 1rem var(--padding);
    margin-top: 0;
}

#experiment-container {
    height: calc(100vh - 10rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 130px repeat(3, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

#sidebar-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    overflow: scroll;
}

#voice-container,
#text-container,
#voice-text-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: 120px repeat(3, 1fr);
}

#input-container,
#voice-input-container {
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

#input-container .microphone {
    margin-right: 2rem;
}

#program-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

#mic-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    height: 100%;
}

.grid-container {
    border: thick solid var(--container-border-color);
    background-color: var(--container-background-color);
}

#conversation {
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 2rem 20% 2rem 20%;
    overflow-y: scroll;
}

/* fills the space above conversation bubbles and forces conversation downwards */
.space-filler {
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.microphone,
.textbox {
    margin: auto;
}

.textbox button {
    padding: 5px 10px;
}

.microphone button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.microphone button:focus {
    outline: none;
}

#recording-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
}

#recording-status.recording {
    background: red;
    border: none;
}

#sidebar,
#sidebar-tutorial {
    padding: 2rem;
    text-align: center;
}

#sidebar {
    display: none;
    flex-direction: column;
}

.program {
    padding: 2rem;
    text-align: center;
}

.textbox input {
    width: 200px;
    padding: 5px 10px;
}

.user-utter {
    text-align: right;
    width: 100%;
    padding-bottom: 10px;
}

.agent-utter {
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

.user-utter > div {
    display: inline-block;
    border-radius: 20px;
    background-color: #0084FF;
    color: white;
    padding: 10px;
    margin-right: 10px;
}

.agent-utter > div {
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
}

#example-actions,
#example-programs {
    padding-top: 20px;
    text-align: left;
}

#example-actions-heading,
#example-programs-heading {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    padding-bottom: 2px;
}

#example-actions-list,
#example-programs-list {
    display: none;
}

.example-action,
.example-program {
    padding-top: 10px;
}

#example-actions-direction,
#example-programs-direction {
    font-size: 12px;
}
