:root {

    --colour-background: #f1f1f1;
    --colour-outer-outline: #5a5a5a;
    --colour-menu-font: #1f1f1f;

    --margin-size: 1em;
    --padding-size: 1em;
    --thin-border-size: 1px;
    --row-gap: 0.5rem;
}

#experimentwrap {
    margin: var(--margin-size);
    color: var(--colour-menu-font);
    /* Grid */
    display: grid;
    grid-row-gap: var(--row-gap);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
}

#voicearea {
    border: thick solid var(--colour-outer-outline);
    background-color: var(--colour-background);
    padding: var(--padding-size);
    /* Grid */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-rows: fit-content(100%) 80vh;
}

#textarea {
    border: thick solid var(--colour-outer-outline);
    background-color: var(--colour-background);
    padding: var(--padding-size);
    /* Grid */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-template-rows: fit-content(100%) 80vh; */
}

#sidebararea {
    border: thick solid var(--colour-outer-outline);
    background-color: var(--colour-background);
    padding: var(--padding-size);
    margin-left: 5%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-template-rows: fit-content(100%) 80vh; */
}

#programarea {
    border: thick solid var(--colour-outer-outline);
    background-color: var(--colour-background);
    padding: var(--padding-size);
    /* Grid */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /* grid-template-rows: fit-content(100%) 80vh; */
}

#voiceonlyarea {
    border: thick solid var(--colour-outer-outline);
    background-color: var(--colour-background);
    padding: var(--padding-size);
    /* Grid */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-template-rows: fit-content(100%) 80vh; */
}

.ans {
    /*display: flex;*/
    width: 100%;
    height: 50px;
}

.red {
    color: red;
}
.blue {
    color: blue;
}

p {
    /* overflow-x: scroll; */
    overflow-y: scroll;
}
