:root {
    --site-padding: 2em;
    --button-margin: 2em;
    --max-width: 50em;
    --line-height: 1.4em;
}

html,
body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul,
p {
    line-height: var(--line-height);
}

ul {
    text-align: left;
}

li {
    padding: 0.7em 0;
}

#info {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

#site-container {
    padding: var(--site-padding);
    text-align: center;
}

#button-container {
    margin-top: var(--button-margin);
    margin-bottom: calc(var(--button-margin) + 1rem);
}
