/* Standard Elements */
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}


/* Additional Classes */
.centertext {
    text-align: center;
}

.center {
    display: block;
    margin: auto;
}

.agenttext {
    /* color: lightskyblue; */
    color: #006bb3;
}

.usertext {
    /* color: lightgreen; */
    color: #00b32d;
}

/* ID Specifics */
#start_img {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 50px;
    height: 50px;
}